#resultContainer {
    display: inline-block;
    color: red;
/*    border: 1px solid red;*/
/*    width: 350px;*/
/*    height: 50px;*/
}

.error {
	border: 1px solid red;
}

h1 {
    font-size: 21px;
}

input {
    width: 200px;
}

#submitButton {
    width: 90px;
}
